<div class="main">
    <section class="section_1">
        <header>
            <nav><img src="https://demos.wrappixel.com/free-admin-templates/angular/blog-angular-free/main/assets/images/logos/white-text.png" alt="photo error"> <ul>
                <li>Home</li>
                <li>About</li>
            </ul>
            <button mat-raised-button color="warn">Download Free</button></nav>
            <div class="responsivelayout">
                <img src="https://demos.wrappixel.com/free-admin-templates/angular/blog-angular-free/main/assets/images/logos/white-text.png"
                    alt="photo error!">
                <mat-icon>menu</mat-icon>
            </div>
        </header>
<div class="page_title">
    <div class="titles">  <h1>BLOG DETAIL PAGE</h1>
    <p>We are Small Team of Creative People working together</p></div>
  
</div>
       
    </section>
    <section class="section_2">
        <div class="images">
<img src="https://demos.wrappixel.com/free-admin-templates/angular/blog-angular-free/main/assets/images/blog/202.jpg" alt="photo error!">
        </div>
    </section>
    <section>
        <div class="texts_page">
            <div class="texts_1">
                <div class="by"> <h5>BY
                    JOHN DEO</h5></div>
               <div class="feb"><h5>FEB 17, 2020</h5></div>
                   
               
            </div>
        </div> <div class="dolore"> <h1>Dolore pariatur amet ullamco aliquip mollit aliqua qui.</h1></div>
        <div class="Eiusmod">
            <p>Eiusmod ipsum do dolore fugiat consequat quis non qui velit consectetur velit.</p>
        </div>
        <div class="Eiusmod">
            <p>Tempor sint cupidatat cillum do ut. Ipsum exercitation est ex id. Sunt ut labore ad nulla.</p>
        </div>
       
    </section>
</div>
