<div class="main" *ngIf="!auth.isLoggedin()">
    <form action="">
        <h1>Register</h1>

        <input type="text" [(ngModel)]="name" placeholder="Name" name="name" required>

        <input type="text" [(ngModel)]="surname" placeholder="Surname" name="surname" required>

        <input type="text" [(ngModel)]="email" placeholder="Email" name="email" required>

        <input type="text" [(ngModel)]="password" placeholder="password" name="password" required>
        <button (click)="onSubmit()" mat-stroked-button color="black">Submit</button>
    </form>
</div>
<div class="main_1" *ngIf="auth.isLoggedin() && !auth2.isLoggedin1()">
    <form action="">
        <h1>Register of WrapKitsAngular!</h1>
        <label for="">Name</label>
        <input type="text" [(ngModel)]="names" placeholder="Name" name="names" required>
        <label for="">Password</label>
        <input type="text" [(ngModel)]="passwords" placeholder="password" name="passwords" required>
        <button (click)="onSubmits()" mat-stroked-button color="warn">Submit</button>
        <button (click)="logout()" mat-stroked-button color="black">Logout</button>
    </form>
</div>
<!-- -->
<div class="main_2" *ngIf="auth.isLoggedin() && auth2.isLoggedin1()">
    <div class="mains">
        <div class="responsivelayout">
            <img src="https://demos.wrappixel.com/free-admin-templates/angular/blog-angular-free/main/assets/images/logos/white-text.png"
                alt="photo error!">
            <mat-icon>menu</mat-icon>
        </div>
        <nav>

            <div class="images">
                <img src="https://demos.wrappixel.com/free-admin-templates/angular/blog-angular-free/main/assets/images/logos/white-text.png"
                    alt="photo error!">
            </div>
            <ul>
                <li class="home">Home</li>
                <li class="about">About</li>
            </ul>
            <button (click)="logout()" mat-raised-button color="warn">Logout</button>
        </nav>
        <div class="page_title">
            <div class="titles">
                <h1>Free Angular Blog</h1>
                <h3>Want a blog app with ng-bootstrap ? Here is the fully workable blog app in which we are giving blog
                    listing app, blog detail page and also about page.</h3>
                <div class="buttons_page">
                    <button (click)="logout()" mat-raised-button color="warn">Register</button>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="sections">
            <div class="section_title">
                <div class="pages_titles">
                    <h2>Recent Blogs</h2>
                    <p>You can relay on our amazing features list and also our customer services will be great
                        experience for you without doubt and in no-time</p>
                </div>
            </div>
            <div class="flexs_boxx">
                <div class="box-1">
                    <h2>Whats New?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repudiandae sit modi,
                        dignissimos architecto, quas optio ut adipisci necessitatibus cumque.</p>
                </div>
                <div class="box-2">
                    <div class="boxx-1">
                        <div class="page_tops">
                            <div class="pipe">
                                <h5>{{data}}</h5>
                                <p> By {{namess}}</p>
                            </div>
                            <div class="pipe_title">
                                <h3>Magna nostrud incididunt cupidatat cillum incididu..</h3>
                                <p>Labore irure irure laborum quis tempor aliqua. Dude quas optio ut adipisci
                                    necessitatibus cumque.</p>
                            </div>
                            <div class="show">
                                <a routerLink="/detal">Show Detail </a> <mat-icon>arrow_forward</mat-icon>

                            </div>
                        </div>
                        <div class="page_bottoms"> </div>
                    </div>
                    <div class="boxx-1">
                        <div class="page_tops">
                            <div class="pipe">
                                <h5>{{data}}</h5>
                                <p> By {{namess}}</p>
                            </div>
                            <div class="pipe_title">
                                <h3>Dolore pariatur amet ullamco aliquip mollit aliqua..</h3>
                                <p>Labore irure irure laborum quis tempor aliqua. Dude quas optio ut adipisci
                                    necessitatibus cumque.</p>
                            </div>
                            <div class="show">
                                <a href="">Show Detail </a> <mat-icon>arrow_forward</mat-icon>
                            </div>
                        </div>
                        <div class="page_bottoms"> </div>
                    </div>
                    <div class="boxx-1">
                        <div class="page_tops">
                            <div class="pipe">
                                <h5>{{data}}</h5>
                                <p> By {{namess}}</p>
                            </div>
                            <div class="pipe_title">
                                <h3>Velit esse dolor dolor qui cillum velit in quis ex..</h3>
                                <p>Labore irure irure laborum quis tempor aliqua. Dude quas optio ut adipisci
                                    necessitatibus cumque.</p>
                            </div>
                            <div class="show">
                                <a href="">Show Detail </a> <mat-icon>arrow_forward</mat-icon>
                            </div>
                        </div>
                        <div class="page_bottoms"> </div>
                    </div>
                    <div class="boxx-1">
                        <div class="page_tops">
                            <div class="pipe">
                                <h5>{{data}}</h5>
                                <p> By {{namess}}</p>
                            </div>
                            <div class="pipe_title">
                                <h3>Magna nostrud incididunt cupidatat cillum incididu..</h3>
                                <p>Labore irure irure laborum quis tempor aliqua. Dude quas optio ut adipisci
                                    necessitatibus cumque.</p>
                            </div>
                            <div class="show">
                                <a href="">Show Detail </a> <mat-icon>arrow_forward</mat-icon>
                            </div>
                        </div>
                        <div class="page_bottoms"> </div>
                    </div>
                    <div class="boxx-1">
                        <div class="page_tops">
                            <div class="pipe">
                                <h5>{{data}}</h5>
                                <p> By {{namess}}</p>
                            </div>
                            <div class="pipe_title">
                                <h3>Dolore pariatur amet ullamco aliquip mollit aliqua..</h3>
                                <p>Labore irure irure laborum quis tempor aliqua. Dude quas optio ut adipisci
                                    necessitatibus cumque.</p>
                            </div>
                            <div class="show">
                                <a href="">Show Detail </a> <mat-icon>arrow_forward</mat-icon>
                            </div>
                        </div>
                        <div class="page_bottoms"> </div>
                    </div>
                    <div class="boxx-1">
                        <div class="page_tops">
                            <div class="pipe">
                                <h5>{{data}}</h5>
                                <p> By {{namess}}</p>
                            </div>
                            <div class="pipe_title">
                                <h3>Velit esse dolor dolor qui cillum velit in quis ex..</h3>
                                <p>Labore irure irure laborum quis tempor aliqua. Dude quas optio ut adipisci
                                    necessitatibus cumque.</p>
                            </div>
                            <div class="show">
                                <a href="">Show Detail </a> <mat-icon>arrow_forward</mat-icon>
                            </div>
                        </div>
                        <div class="page_bottoms"> </div>
                    </div>
                    <div class="boxx-1">
                        <div class="page_tops">
                            <div class="pipe">
                                <h5>{{data}}</h5>
                                <p> By {{namess}}</p>
                            </div>
                            <div class="pipe_title">
                                <h3>Dolore pariatur amet ullamco aliquip mollit aliqua..</h3>
                                <p>Labore irure irure laborum quis tempor aliqua. Dude quas optio ut adipisci
                                    necessitatibus cumque.</p>
                            </div>
                            <div class="show">
                                <a href="">Show Detail </a> <mat-icon>arrow_forward</mat-icon>
                            </div>
                        </div>
                        <div class="page_bottoms"> </div>
                    </div>
                    <div class="boxx-1">
                        <div class="page_tops">
                            <div class="pipe">
                                <h5>{{data}}</h5>
                                <p> By {{namess}}</p>
                            </div>
                            <div class="pipe_title">
                                <h3>Velit esse dolor dolor qui cillum velit in quis ex..</h3>
                                <p>Labore irure irure laborum quis tempor aliqua. Dude quas optio ut adipisci
                                    necessitatibus cumque.</p>
                            </div>
                            <div class="show">
                                <a href="">Show Detail </a> <mat-icon>arrow_forward</mat-icon>
                            </div>
                        </div>
                        <div class="page_bottoms"> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="foters_icon">
            <div> <mat-icon>facebook</mat-icon></div>
            <div> <mat-icon>mail</mat-icon></div>
            <div><mat-icon>call</mat-icon></div>
            <div><mat-icon>g_translate</mat-icon></div>
            <div> <mat-icon>share</mat-icon></div>


        </div>
        <div class="footer_texts">
            <h4>All Rights Reserved by WrapPixel.</h4>
        </div>
    </footer>
</div>