/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Oswald:wght@600&family=Paytone+One&family=Teko:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Oswald:wght@600&family=Paytone+One&family=Source+Code+Pro:wght@300&family=Teko:wght@300;600&display=swap');

:root {
    --text-title-family: 'Anton', sans-serif;
    --text-title-family2: "Link Sans", "Arial Black", Arial, sans-serif;
    --text-title-family-size: 1.2rem;
    --text-title-family-size-min: 0.98rem;
    --text-title-family-size-max: 3.5rem;
    --text-title-familiy-size-average: 1.8rem;
    --text-color: rgb(44, 50, 65);
    --text-color2: rgb(103, 107, 95);
    --content-bgcolor: #F8F3F2;
    --bgcolor: rgb(255, 255, 255);
    --bgcolors: rgb(239, 240, 236);
    --text-colors: rgb(168, 170, 162);
    --text-colors3: rgb(27, 29, 26);
    --hover-color: rgb(29, 32, 30);
    --font-family5: 'Josefin Sans', sans-serif;
    --font-family6: 'Yanone Kaffeesatz', sans-serif;
}